.login-container input:nth-child(4),
.login-container input:nth-child(5),
.login-container input:nth-child(6),
.login-container input:nth-child(7),
.login-container input:nth-child(8) {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.signup-options {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  /* border: 1px solid red; */
}
