main {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  margin-bottom: 0;
}

.btn-filter {
  position: fixed;
  width: 80%;
  padding: 0.6rem 1rem;
  letter-spacing: 5px;
  bottom: 0%;
  left: 10%;
  border: none;
  border-bottom: 1px solid var(--background-color);
  z-index: 5;
  display: none;
}
/* media for responsive UI  */
@media (max-width: 768px) {
  main {
    margin: 1rem;
  }

  .product-wrapper {
    gap: 0.4rem;
  }
}

@media (max-width: 645px) {
  main {
    margin: 0.5rem;
  }
  .deal-section {
    margin: 0.8rem;
  }

  .product-wrapper {
    gap: 0.2rem;
  }

  .filter-container {
    position: fixed;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 2rem;
    background-color: white;
    transform: translateY(810px);
    transition: all 0.5s ease-in;
    z-index: 5;
  }
  .btn-filter {
    display: inline-block;
  }
}
