header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
}
.head-link {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.head-link:hover {
  text-decoration: underline;
}
