header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
}
.head-link {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.head-link:hover {
  text-decoration: underline;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  align-items: baseline;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--primary-color);
}

.nav-icons-div {
  display: flex;
  gap: 1.8rem;
}

.nav-icon-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  cursor: pointer;
}

/* nav-logo */

.logo-v {
  color: var(--action-color);
}

.logo-name {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  line-height: 1.8rem;
  color: var(--secondary-color);
  z-index: 3;
}

.foot-icon {
  margin-left: 8.3rem;
  padding-top: 0.4rem;
  padding-right: 0.2rem;
  opacity: 0.6;
  color: var(--secondary-color);
}

.logo-div .fa-bars {
  display: none;
}

.fa-shoe-prints {
  color: var(--action-color);
  font-size: 0.8rem;
}

.nav-text {
  padding-right: 1rem;
  color: var(--secondary-color);
  transition: all 0.2s;
}
.nav-text:hover {
  color: var(--action-color);
}
