.product-wrapper {
  /* border: 1px solid blue; */
  display: grid;
  flex-grow: 1;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;

  margin-bottom: 2rem;
}
