.product-wrapper {
  display: grid;
  flex-grow: 1;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 0.7rem;
  align-items: start;
  margin-bottom: 2rem;
}
.product-img-div {
  position: relative;
}
.product-rating {
  position: absolute;
  font-size: 0.6rem;
  bottom: 4%;
  left: 2%;
  background-color: var(--primary-color);
  opacity: 0.7;
  padding: 2px;
  border-radius: 2px;
}
.fa-heart {
  font-size: 1.1rem;
  cursor: pointer;
}
.fa-heart:hover {
  border: var(--action-color);
}
.fa-star {
  color: var(--action-color);
}
.loading-img {
  margin: auto;
  padding-left: 80%;
}
.product-price span:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
}
.hidden {
  display: none;
  /* visibility: hidden; */
}
.size-name {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.size-name:hover {
  background-color: var(--secondary-color);
  color: white;
}
.product-size {
  display: flex;
  margin-top: 4px;
  justify-content: space-around;
  width: 80%;
}
.highlight {
  background-color: var(--secondary-color);
  color: white;
}
