.price-details-container {
  background-color: #fdf4f3;
  margin: 1rem;
  padding: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 1.2rem;
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.discount-txt {
  font-weight: 300;
  font-size: 0.8rem;

  text-align: center;
}
