.price-details-container {
  background-color: #fdf4f3;

  margin: 1rem;
  padding: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 1.2rem;
}
/* 
hr {
  margin: 1rem 0;
} */

.price-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.discount-txt {
  font-weight: 300;
  font-size: 0.8rem;

  text-align: center;
}

.primary-btn {
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  background-color: gray;
  color: white;
}
