.product-img-div {
  position: relative;
}

.fa-xmark {
  color: #a7a7a7;
  position: absolute;
  font-size: 1.1rem;
  top: 2%;
  right: 4%;
  padding: 0.3rem 0.5rem;
  background-color: #edeeef;
  border-radius: 50%;
  cursor: pointer;
}

.fa-xmark:hover {
  color: #4b5563;
}

.product-img {
  width: 100%;
}

.fa-heart {
  cursor: pointer;
  color: var(--background-color);
}
.fa-heart:hover {
  color: var(--action-color);
}
