.login-container input:nth-child(2),
input:nth-child(3) {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  width: 100%;
}

.center {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 5rem auto;
}

.login-container {
  background-color: var(--primary-color);
  /* border: 1px solid red; */
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-options {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  margin-top: 1rem;
}
.login-options a {
  color: #0284c7;
}
.login-btn {
  padding: 0.5rem 2rem;
  background-color: var(--action-color);
  border: none;
  margin: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 100%;
}
.login-btn:hover {
  background-color: #f04d34;
}

.login-route {
  color: black;
}
.login-route i {
  margin-left: 1rem;
  font-size: 1.5rem;
}
/* 
html {
  background-color: #fdf4f3;
} */
.bg {
  background-color: #fdf4f3;
  margin: 0;
  height: 100vh;
}
.fa-circle-exclamation {
  color: #ef4444;
}
