.flex-cl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-modal {
  position: fixed;
  background-color: var(--primary-color);
  padding: 1rem;
  padding-right: 2rem;
  right: 120px;
  top: 60px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.logout-btn {
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 3px solid var(--action-color);
  cursor: pointer;
  transition: all 0.2s;
}
.logout-btn:hover {
  border-bottom: 3px solid var(--secondary-color);
}

@media (max-width: 645px) {
  .user-modal {
    right: 80px;
    top: 50px;
  }
}
