nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 3rem 0.4rem 3rem;
  align-items: baseline;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--primary-color);
}

.nav-menu {
  transition: all 0.7s;
}

.nav-icons-div {
  display: flex;
  gap: 1.6rem;
}

.nav-icon-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  cursor: pointer;
}

.logo-v {
  color: var(--action-color);
}

.logo-name {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  line-height: 1.8rem;
  color: var(--secondary-color);
  z-index: 3;
}

.nav-categories {
  position: absolute;
  background-color: #f9f3f2;
  width: 10rem;
  padding: 1rem;
  left: 3.5rem;
  padding-bottom: 1.5rem;
  z-index: 15;
  display: none;
  transition: all 1s ease-in;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-categories li {
  padding-top: 8px;
  font-weight: 300;
  color: var(--secondary-color);
  cursor: pointer;
}

.category-icon {
  color: var(--action-color);
  font-size: 12px;
  margin-left: 6px;
  visibility: hidden;
}

.nav-categories li:hover .category-icon {
  color: var(--action-color);
  visibility: visible;
}
.nav-categories li:hover {
  color: var(--action-color);
  font-weight: 400;
}
.categoryBtn {
  border: none;
  background: none;
  color: var(--secondary-color);
  transition: all 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
.categoryBtn:hover {
  color: var(--action-color);
}
.navcategory-div {
  display: inline;
}
.navcategory-div:hover .nav-categories {
  display: block;
}
.foot-icon {
  margin-left: 8.3rem;
  padding-top: 0.4rem;
  padding-right: 0.2rem;
  opacity: 0.6;
  color: var(--secondary-color);
}

.logo-div .fa-bars {
  display: none;
}

.fa-shoe-prints {
  color: var(--action-color);
  font-size: 0.8rem;
}

.nav-text {
  padding-right: 1rem;
  color: var(--secondary-color);
  transition: all 0.2s;
}

.nav-text:hover {
  color: var(--action-color);
}
.relative {
  position: relative;
}
.icon-counter {
  position: absolute;
  top: -2rem;
  background-color: var(--action-color);
  color: var(--primary-color);
  padding: 1px 4px;
  border-radius: 2px;
  opacity: 0.9;
  left: 1.5rem;
}
.lt {
  left: 1rem;
}
.high-index {
  z-index: 5;
}
.search-bar {
  position: absolute;
  right: 15rem;
  bottom: 0.8rem;
  padding: 0.8rem 0;
  width: 0%;
  background-color: #f5f5f6;
  border: none;
  transition: all 0.8s;
}
.search-bar:focus {
  border: 1px solid #f5f5f6;
  outline: none;
  background-color: var(--primary-color);
}
/* media for responsive UI  */
@media (max-width: 768px) {
  .foot-icon {
    margin: 0;
  }
  nav {
    padding: 1rem 2rem 0.5rem 2rem;
    align-items: center;
  }

  .logo-div .fa-bars {
    display: inline;
    font-size: 2.4rem;
    margin-right: 0.5rem;
  }

  .logo-name {
    display: inline;
  }

  /* mobile devices */
  /* hamburger */
  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1rem 2rem;
    width: 30%;
    height: calc(100vh - 4.5rem);
    top: 4rem;
    left: 0;
    z-index: 3;
    background-color: var(--primary-color);
    transform: translateX(-400px);
  }
  .nav-text {
    font-size: 2rem;
  }
}

@media (max-width: 645px) {
  .nav-menu {
    padding: 1rem;
    width: 40%;
  }

  nav {
    padding: 0.6rem 0.8rem;
  }

  .logo-name {
    font-size: 2.2rem;
  }
}

@media (max-width: 460px) {
  .nav-icons-div {
    gap: 10px;
  }
  .nav-menu {
    padding: 1rem;
    width: 50%;
  }
}
/* smallest size */
@media (max-width: 370px) {
  .logo-name {
    display: none;
  }
  .fa-shoe-prints {
    display: none;
  }
}
