nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 3rem 0.4rem 3rem;
  align-items: baseline;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--primary-color);
}

.nav-menu {
  transition: all 0.7s;
}

.nav-icons-div {
  display: flex;
  gap: 1.6rem;
}

.nav-icon-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  cursor: pointer;
}

.logo-v {
  color: var(--action-color);
}

.logo-name {
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  line-height: 1.8rem;
  color: var(--secondary-color);
  z-index: 3;
}

.foot-icon {
  margin-left: 8.3rem;
  padding-top: 0.4rem;
  padding-right: 0.2rem;
  opacity: 0.6;
  color: var(--secondary-color);
}

.logo-div .fa-bars {
  display: none;
}

.fa-shoe-prints {
  color: var(--action-color);
  font-size: 0.8rem;
}

.nav-text {
  padding-right: 1rem;
  color: var(--secondary-color);
  transition: all 0.2s;
}

.nav-text:hover {
  color: var(--action-color);
}
.relative {
  position: relative;
}
.icon-counter {
  position: absolute;
  top: -2rem;
  background-color: var(--action-color);
  color: var(--primary-color);
  padding: 1px 4px;
  border-radius: 2px;
  opacity: 0.9;
  left: 1.5rem;
}
.lt {
  left: 1rem;
}
.high-index {
  z-index: 5;
}
.search-bar {
  position: absolute;
  right: 13rem;
  bottom: 0.8rem;

  width: 0%;
  background-color: #f5f5f6;
  border: none;
  transition: all 0.5s;
}
.search-bar:focus {
  border: 1px solid #f5f5f6;
  outline: none;
  background-color: var(--primary-color);
}
/* media for responsive UI  */
@media (max-width: 768px) {
  .foot-icon {
    margin: 0;
  }
  nav {
    padding: 1rem 2rem 0.5rem 2rem;
  }

  .logo-div .fa-bars {
    display: inline;
    font-size: 2.4rem;
    margin-right: 0.5rem;
  }

  .logo-name {
    display: inline;
  }

  /* mobile devices */
  /* hamburger */
  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1rem 2rem;
    width: 30%;
    height: calc(100vh - 4.5rem);
    top: 4rem;
    left: 0;
    z-index: 3;
    background-color: var(--primary-color);
    transform: translateX(-400px);
  }
  .nav-text {
    font-size: 2rem;
  }
}

@media (max-width: 645px) {
  .nav-menu {
    padding: 1rem;
    width: 40%;
  }

  nav {
    padding: 0.6rem 0.8rem;
  }

  .logo-name {
    font-size: 2.2rem;
  }
}

@media (max-width: 460px) {
  .nav-icons-div {
    gap: 1.2rem;
  }
}
